<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShopInvetoryManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ShopInvetoryManagement.Properties.Settings.ConnectionString"
      connectionString="XpoProvider=MSSqlServer;Data Source=MOK-95\SQLEXPRESS;Initial Catalog=Lang_DataBase;Integrated Security=True" />
    <add name="Aim-Connection" connectionString="XpoProvider=MSSqlServer;data source=MOK-95\SQLEXPRESS;integrated security=True;initial catalog=Lang_DataBase" />
    <add name="localhost_Lang_DataBase_Connection" connectionString="XpoProvider=MSSqlServer;data source=MOK-95\SQLEXPRESS;integrated security=SSPI;initial catalog=Lang_DataBase" />
    <add name="ShopInvetoryManagement.Properties.Settings.Lang_DataBaseConnectionString"
      connectionString="Data Source=MOK-95\SQLEXPRESS;Initial Catalog=Lang_DataBase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <ShopInvetoryManagement.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>Lang_DataBase</value>
      </setting>
      <setting name="Counter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>"Windows"</value>
      </setting>
    </ShopInvetoryManagement.Properties.Settings>
  </userSettings>
</configuration>
